In [3]:
#Load data from txt with pandas
import pandas as pd
df = pd.read_table("E:/6th sem lab/ml lab/6fablab.txt") 
print(df)

                                                                                 ###### txt or csv data #######
Name          Team           Number Position Age Height Weight College                                   Salary
Avery Bradley Boston Celtics 0      PG       25  06-Feb 180    Texas                                    7730337
Jae Crowder   Boston Celtics 99     SF       25  06-Jun 235    Marquette                                6796117
John Holland  Boston Celtics 30     SG       27  06-May 205    Boston University                            NaN
R.J. Hunter   Boston Celtics 28     SG       22  06-May 185    Georgia State                            1148640
...                                                                                                         ...
df            NaN            NaN    NaN      NaN NaN    NaN    NaN                                          NaN
df.head()     NaN            NaN    NaN      NaN NaN    NaN    NaN                                          NaN
df.tail()     NaN            NaN    NaN      NaN NaN    NaN    NaN                                          NaN
df.columns    NaN            NaN    NaN      NaN NaN    NaN    NaN                                          NaN
df.info()     NaN            NaN    NaN      NaN NaN    NaN    NaN                                          NaN

[467 rows x 1 columns]

In [8]:
#load data from csv file
import pandas as pd
df = pd.read_csv("E:/6th sem lab/ml lab/salary.csv")
print(df)

   Employee List  Unnamed: 1 Unnamed: 2 Unnamed: 3
0            NaN         NaN        NaN        NaN
1      Last Name  First Name     Status     Salary
2       Williams        Mary  Full Time   $35,000
3          Brown      Robert  Full Time   $32,000
4         Wilson   Elizabeth  Part Time   $12,000
5          Moore    Jennifer  Full Time   $41,000
6          Brown     Charles  Full Time   $39,000
7          Price        Lisa  Part Time   $14,000
8           Wood      Daniel  Part Time   $13,750
9        Coleman      Donald  Full Time   $37,500
10         Perry      George  Part Time   $12,050
11        Steele       Donna  Full Time   $36,750
12       Schultz       Carol  Full Time   $38,050
13         Munoz        Ruth  Part Time   $11,000
14      Chandler       Jason  Full Time   $29,000
15         Small     Matthew  Full Time   $45,500
16       Hensley     Jessica  Full Time   $52,000
17         Brown        Gary  Part Time    $8,000
18        Grimes        Jose  Part Time   $17,000
19        Baxter      Brenda  Full Time   $36,000
20         Morin       Frank  Full Time   $36,500
21       Tillman    Kathleen  Part Time    $9,750
22         Huber      Joshua  Full Time   $31,750
23         Boyle       Debra  Full Time   $38,050
24       Buckner       Jerry  Full Time   $37,500
25       Knowles       Aaron  Part Time   $10,050
26     Velazquez      Carlos  Part Time    $9,075
27          Vang     Marilyn  Full Time   $29,750
28           NaN         NaN        NaN        NaN

In [11]:
#convert txt file to csv file
import pandas as pd
df = pd.read_csv("E:/6th sem lab/ml lab/6fablab.txt")
df.to_csv("E:/6th sem lab/ml lab/textToCsv.csv",index=None)

In [12]:
#convert csv to txt
import pandas as pd
df = pd.read_csv("E:/6th sem lab/ml lab/textToCsv.csv")
df.to_csv("E:/6th sem lab/ml lab/csvToTxt.txt", index= None, sep="\t")